h1.title {
    color: darkblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

img.icon {
    margin: left;
    float: center;
}

body.main {
  background-image: url("images/ocean background.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.col {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: darkslateblue;
}

a.nav-link {
    color: black;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
}
/**https://getdevdone.com/blog/our-favorite-navigation-menu-effects.html--**/
  
  ul li{
    list-style:none;
    margin:0 20px;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:9px;
    font-family: sans-serif;
    color:#fff;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:white;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgb(170, 168, 199);
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
    color: white;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }
/**end of nav**/
img.picture {
  width: 100%;
   display: inline;
}

.card {
  border: 3px groove #0e0101;
}

.card-body {
  margin: auto;
  text-align: center;
}
body {
  background: radial-gradient(lightblue, blue);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

p.text-end {
  font-size: larger;
}

footer.footer {
  background-color: rgb(220, 203, 203);
  width: 100%;
  text-align: center;
}
.img-fluid {
  margin: auto;
  text-align: center;
  width: 300px;
  display: inline;
}

carousel.slide {
  margin: auto;
}

.carousel {
margin: auto;
border: rounded;
}
  .w-100 {
    width: 50% !important;
    height: 60vh;
    margin: auto;
  }

